# Pokemons with two types in optimal teams

Since more than 6 types are necessary for an optimal team (namely 7), I wondered how many Pokemon with two types from an optimal team exist. I computed the result in optimal_teams.py. Here is a bit of an exploration of the results

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

Read teh doublets

In [2]:
doublets = pd.read_csv('./doublets_n07.csv', index_col=0)
doublets = doublets[['id', 'name', 'type1', 'type2', 'teams']]

## First 10 Pokemons by id
This is meant as a proxy for Pokemon that I can probably find early on

In [8]:
doublets.sort_values('id').head(10)

      id       name   type1   type2                                   teams
58  23.0    Krarmor  Flying   Steel                    [6, 7, 8, 9, 10, 11]
51  40.0     Blanas    Dark   Grass                              [3, 9, 14]
52  41.0  Tengulist    Dark   Grass                              [3, 9, 14]
9   55.0    Myrapla   Grass  Poison                   [0, 2, 3, 12, 13, 14]
10  56.0     Duflor   Grass  Poison                   [0, 2, 3, 12, 13, 14]
11  57.0     Giflor   Grass  Poison                   [0, 2, 3, 12, 13, 14]
12  59.0     Knospi   Grass  Poison                   [0, 2, 3, 12, 13, 14]
13  60.0    Roselia   Grass  Poison                   [0, 2, 3, 12, 13, 14]
14  61.0   Roserade   Grass  Poison                   [0, 2, 3, 12, 13, 14]
18  75.0    Quiekel  Ground     Ice  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

## Greatest flexibility
Which Pokemon can be used in the most optimal teams?

In [10]:
doublets['n_teams_proxy'] = doublets.teams.str.len()

In [13]:
doublets.sort_values('n_teams_proxy', ascending=False).drop('n_teams_proxy', axis=1).head(10)

       id       name   type1   type2                                   teams
0   320.0  Resladero   Fight  Flying  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
20   77.0    Mamutel  Ground     Ice  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
19   76.0     Keifel  Ground     Ice  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
5    78.0    Botogel  Flying     Ice  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
18   75.0    Quiekel  Ground     Ice  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
1   222.0  Glibunkel   Fight  Poison          [0, 1, 2, 3, 4, 5, 12, 13, 14]
2   223.0   Toxiquak   Fight  Poison          [0, 1, 2, 3, 4, 5, 12, 13, 14]
14   61.0   Roserade   Grass  Poison                   [0, 2, 3, 12, 13, 14]
13   60.0    Roselia   Grass  Poison                   [0, 2, 3, 12, 13, 14]
12   59.0     Knospi   Grass  Poison                   [0, 2, 3, 12, 13, 14]

## Without Grass
I have the grass starter and I want to use it for some time, so any doublets with grass have a lower relevance for me. Without them we get

In [15]:
doublets_no_grass = doublets[(doublets.type1 != 'Grass') & (doublets.type2 != 'Grass')]
doublets_no_grass.sort_values('n_teams_proxy', ascending=False).drop('n_teams_proxy', axis=1).head(10)

       id       name     type1   type2                                   teams
0   320.0  Resladero     Fight  Flying  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
5    78.0    Botogel    Flying     Ice  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
20   77.0    Mamutel    Ground     Ice  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
19   76.0     Keifel    Ground     Ice  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
18   75.0    Quiekel    Ground     Ice  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
1   222.0  Glibunkel     Fight  Poison          [0, 1, 2, 3, 4, 5, 12, 13, 14]
2   223.0   Toxiquak     Fight  Poison          [0, 1, 2, 3, 4, 5, 12, 13, 14]
59  167.0   Stalobor    Ground   Steel                    [6, 7, 8, 9, 10, 11]
57  299.0    Lucario     Fight   Steel                    [6, 7, 8, 9, 10, 11]
32  375.0  Lecryodon  Electric     Ice                    [1, 4, 5, 7, 10, 11]